@model FinalDAW2.Models.Group

<h2 class="text-center mt-5">Creare Grup</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
            {

                <br />
                @Html.LabelFor(model => model.Name, "Nume Grup")
                <br />
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                <br />

                @Html.LabelFor(model => model.Descriere, "Descriere Grup")
                <br />
                @Html.TextAreaFor(model => model.Descriere, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Descriere, null, new { @class = "text-danger" })
                <br />

                <button class="btn btn-success" type="submit">Creează Grup</button>

            }

        </div>
    </div>
</div>
